.viewport{
  background-color: #e0e0e0;
  display: grid;
  place-items: center;
  overflow: auto;
}

.canvas-container{
  position: relative;
  margin: 5rem;
  border: 1px solid #fff;
  background: repeating-conic-gradient(#fff 0 25%, #e0e0e0 0 50%) 0% / 50px 50px;
}

.canvas-container canvas{
  position: absolute;
}
