html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#app{
  display: grid;
  grid-template-rows: 3rem minmax(0, 1fr);
  height: 100vh;
  width: 100vw;
}

.tabbar{
}

.workspace{
  display: grid;
  grid-template-rows: minmax(0, 1fr) 2.5rem;
  grid-template-columns: 20rem 1fr;
  border-top: 2px solid #ddd
}

.sidebar{
  grid-row: 1 / 3;
  background-color: #f0f0f0;
  border-right: 2px solid #ddd
}

.statusbar{
  background-color: #eee;
  border-top: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.end-items{
  display: flex;
}

.viewport{
  background-color: #e0e0e0;
  display: grid;
  place-items: center;
  overflow: auto;
}

.canvas-container{
  position: relative;
  margin: 5rem;
  border: 1px solid #fff;
  background: repeating-conic-gradient(#fff 0 25%, #e0e0e0 0 50%) 0% / 50px 50px;
}

.canvas-container canvas{
  position: absolute;
}

.canvas-main{
  
}

.buttonset{
  display: flex;
}
.buttonset>button{
  flex: 1;
}

.active-button{
  background-color: #999;
}

.style-controls{
  margin: 1rem 0.5rem;
}

.style-controls>div + div{
  margin-top: 0.5rem;
}

.lineStyleContainer{
  margin: 0.5rem 0.5rem;
}
.color-options{
  margin: 0.5rem 0.5rem;
}
.color-options > div + div{
  margin-top: 0.5em;
}

.rgba-input{
  display: flex;
}
.rgba-input>*{
  flex:1;
}

input[type="number"]{
  width: 4em;
}

input[type="color"]{
  margin: 0.3rem 1rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  inline-size: 3em;
  block-size: 2.5em;
  appearance: none;
  box-shadow: 0 0 5px #0008;
}

::-webkit-color-swatch,::-moz-color-swatch {
    border: none ;
}

.source-point, .target-point{
  display: flex;
  flex-direction: column;
}
.source-point > div, .target-point>div{
  display: flex;
}

.text-options{
  display: flex;
  margin: 0.7em 0em;
}

.button-checkbox input[type=checkbox]{
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button-checkbox label:has(input[type=checkbox]){
  padding: 0.2em 0.7em ;
  border-radius: 3px ;
  border: 1px solid ;
}

.button-checkbox label:has(input[type=checkbox]:checked){
  background-color: #bbb ;
  color: #000000 ;
  cursor: pointer ;
}
